<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Slider>
            <version>1.0.0</version>
        </Ainstainer_Slider>
    </modules>
    <global>
        <models>
            <slider>
                <class>Ainstainer_Slider_Model</class>
                <resourceModel>slider_resource</resourceModel>
            </slider>
            <slider_resource>
                <class>Ainstainer_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>ain_slider_slider</table>
                    </slider>
                    <slide>
                        <table>ain_slider_slide</table>
                    </slide>
                    <relations>
                        <table>ain_slider_relations</table>
                    </relations>
                </entities>
            </slider_resource>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Ainstainer_Slider</module>
                </setup>
            </slider_setup>
        </resources>
        <blocks>
            <slider>
                <class>Ainstainer_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>Ainstainer_Slider_Helper</class>
            </slider>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ainstainer_Slider before="Mage_Adminhtml">Ainstainer_Slider_Adminhtml</Ainstainer_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>